@media only screen and (max-width: 480px) {
    body {
        background-image: url("../img/2.2.jpg");
        background-size: cover;
        /* Ensures the background image covers the entire screen */
        background-repeat: no-repeat;
        /* Prevents the background image from repeating */
        background-position: center;

    }
}

/* background image for devices with 481px or above */
@media only screen and (min-width: 481px) {
    body {
        background-image: url("../img/1.1.jpg");
        background-size: cover;
        /* Ensures the background image covers the entire screen */
        background-repeat: no-repeat;
        /* Prevents the background image from repeating */
        background-position: center;
    }
}